@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #1a202c;
  color: #e2e8f0;
}

.ticker-move {
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  animation: ticker 30s linear infinite;
}

@keyframes ticker {
  0% { transform: translate3d(100%, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}
